<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="log.level" value="info"/>
    <property name="log.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n"/>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <root level="${log.level}">
        <appender-ref ref="consoleAppender"/>
    </root>
</configuration>